<section>
  <p-card header="Opinie">
    <p-card header="Title">
      <p class="m-0">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
        consequuntur error repudiandae numquam deserunt quisquam repellat libero
        asperiores earum nam nobis, culpa ratione quam perferendis esse,
        cupiditate neque quas!
      </p>
      <p-button severity="success"
        ><i class="pi pi-thumbs-up" style="font-size: 1rem"></i>
      </p-button>
      <p-button severity="danger"
        ><i class="pi pi-thumbs-down" style="font-size: 1rem"></i>
      </p-button>
    </p-card>
  </p-card>
</section>
